<div class="container-xl">
	<app-search class="row" [ngClass]="{ 'align-items-center show_list_height': !showListDrinks }"></app-search>
	<div class="row" *ngIf="showListDrinks">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3" *ngFor="let drink of drinks">
			<mat-card>
				<img mat-card-image src="{{drink.strDrinkThumb}}" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<mat-card-title>{{ drink.strDrink }}</mat-card-title>
					<mat-card-subtitle>{{ drink.strCategory }}</mat-card-subtitle>
					<mat-card-subtitle>{{ drink.strIngredient1 }}</mat-card-subtitle>
					<mat-card-subtitle>{{ drink.strIngredient2 }}</mat-card-subtitle>
					<mat-card-subtitle>{{ drink.strGlass }}</mat-card-subtitle>
					<p>
						{{ drink.strAlcoholic }}
					</p>
					<i class="fa fa-heart"></i>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button [routerLink]="['/drink', drink.idDrink]">View</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
