<div class="col-12">
	<div class="row">
		<div class="col-12">
			<mat-button-toggle-group>
				<mat-form-field class="example-full-width">
					<mat-label>Busca tu trago favorito</mat-label>
					<input matInput placeholder="Ex. Pizza" [formControl]="drinkSearch" placeholder="Escribe el nombre de tu trago favorito">
				</mat-form-field>
				<mat-button-toggle mat-button class="search_button" (click)="getSearhDrink()">Buscar trago</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>
	<div class="row" *ngIf="shoFilter">
		<div class="col-4">
			<mat-form-field>
				<mat-label>Tipos</mat-label>
				<mat-select>
					<mat-option value="value">
						<a class="dropdown-item" href="javascript:;" (click)="getType('c', 'Categoria')">Categoria</a>
					</mat-option>
					<mat-option value="23">
						<a class="dropdown-item" href="javascript:;" (click)="getType('g', 'Tipo de vaso / copa')">Tipo de vaso / copa</a>
					</mat-option>
					<mat-option value="33">
						<a class="dropdown-item" href="javascript:;" (click)="getType('i', 'Ingrediente')">Ingrediente</a>
					</mat-option>
					<mat-option value="33">
						<a class="dropdown-item" href="javascript:;" (click)="getType('a', 'alcoholic')">alcoholic</a>
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-4">
			<mat-form-field>
				<mat-label>Escoja el item</mat-label>
				<mat-select>
					<mat-option *ngFor="let item of typeList" [value]="item.item">
						<a class="dropdown-item" href="javascript:;" (click)="getFilter(item.item)">{{item.item}}</a>
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</div>
